<!-- being fancy here with the button and running the routes again -- what are the differences in behavior were to use just a link? does it change refresh behavior? -->

  <div>
    <form style="margin: 0; padding: 0;">
    <p style="text-align: center">
      Footer Navigation Bar
      <input type="submit" value="Home" formaction="/" >
      <input type="submit" style="display: inline;" value="DCR List" style="display: inline;" formaction="/dcrlist">
    </p>
   
  </div>


</body>
</html>
 <form action="/" style="display: inline;">
      
    </form>
    <form action="/dcrlist">
      
    </form>