<% include partials/header %>

<h1>This is walletsCreate</h1>

<p>Unless there's an error you should never see me</p>
<% if(msgList !== undefined){ %>
    <p><%= msgList %></p>
<% } %>


<% include partials/footer %>